.jumbotron{
    background:url(Images/background21.jpg)no-repeat center center/cover;
    background-color: #fff;
    opacity:1.0;
    color:black;
    padding: 1px;
    margin: 1px;
    border: 1px ;
}
footer{
    background-color: rgb(49, 48, 48);
    color: aliceblue;
    padding: 1px;
    margin: 1px;
    border: 1px;
}
p1{
    float: left;
    text-align: center;
}
iframe{
    align-items: center;
}

